
.container {
    background-color: #FCF4E7;
    position: absolute;
    border: 5px solid black;
    border-radius: 25px;
    box-shadow: 10px 10px black;
    top: 50px;
    height: 82vh;
    width: 80vw;
}

.nav-bar {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 5px solid black;
    gap: 4;
}

.title {
    cursor: pointer;
    transition: transform 250ms;
}

.title:hover {
    transform: scale(1.1);
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list > .item {
    cursor: pointer;
    padding: 3px 5px;
    margin: 0 10px;
}

.list#main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#main {
    margin-top: 10px;
    max-height: 50vh;
    overflow: scroll;
}

#main::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
#main {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.content {
    margin-top: 50px;
    text-align: center;
    font-weight: 300;
}

.toggle {
    visibility: hidden;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    top: 200px;
    margin: 0 auto;
    left: 40%;
}

#addSV {
    visibility: hidden;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    top: 200px;
    margin: 0 auto;
    left: 40%;
}

#addSV.show {
    visibility: visible;
}

#addSV h3 {
    color: #333;
}
#editSV {
    visibility: hidden;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    top: 200px;
    margin: 0 auto;
    left: 40%;
}

#editSV.show {
    visibility: visible;
}

#editSV h3 {
    color: #333;
}

.toggle.show {
    visibility: visible;
}

button.button {
    --c:  #f6a054; /* the color*/
    box-shadow: 0 0 0 .1em inset var(--c); 
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
      var(--_g) calc(var(--_p,0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p,0%)) 0%,
      var(--_g) calc(var(--_p,0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .5s, background-position 0s .5s;
}
button.button:hover {
    --_p: 100%;
    transition: background-position .5s, background-size 0s;
}
button.button:active {
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--c);
    color: #fff;
}
button.button {
    border-radius: 15px;
    margin: 10px 0;
    font-size: 2rem;
    cursor: pointer;
    padding: .2em .6em;
    border: none;
}

.wrapper{
    position: fixed;
    left: 50%;
    margin-top: 50px;
    transform: translate(-50%, -50%);
}

.link_wrapper{
    position: relative;
}

.text-content {
    display: block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: #333;
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #333;
    transition: all .35s;
    cursor: pointer;
}

.icon{
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
}

.icon svg{
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-225deg);
    fill: #FBBEAC;
    transition: all .35s;
}

.text-content:hover{
    width: 170px;
    border: 3px solid #FBBEAC;
    background: transparent;
    color: rgb(218, 121, 85);
}

.text-content:hover + .icon{
    border: 3px solid #FBBEAC;
    left: -25%;
}

#error {
    margin-top: 50px;
    color: rgb(231, 98, 98);
}


#func-name {
    font-size: 1.6rem;
    
}






