<!DOCTYPE html>
<html>
  <head>
    <title>Quản lý đào tạo PTIT</title>
    <link rel='stylesheet' href='../asset/css/index.css' />
    <link rel='stylesheet' href='../asset/css/style.css' />
    <link rel="stylesheet" href="../asset/css/dashboard.css" />
    <link rel="stylesheet" href="../asset/css/form.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <script src="../js/api/admin.js"></script>
    <script src="../js/main.js"></script>
    <div class="main"></div>
    <div id="root" class="container">
      
    </div>
    <script>
      (() => {
        const user = localStorage.getItem("userInfor");
        if (user) {
          const name = JSON.parse(user).nguoiDung.name.toLowerCase().replace(/(^|\s)\S/g, l => l.toUpperCase())
            document.getElementById('root').innerHTML = `<div class="nav-bar">
                <h3 class="title"><a href="/views/admin.html">Quản lý đào tạo sinh viên</a></h3>
                <ul class="list">
                    <li class="item">Xin chào ${name}</li>
                    <li>|</li>
                    <li class="item"><button onClick="logout()">Đăng xuất</button></li>
                </ul>
              </div>
              <div class="content">
                <h4 id="func-name">Danh sách sinh viên:</h4>
                <div class="managerTable">
                    <table width=100%">
                      <col style="width:5%">
                      <col style="width:22%">
                      <col style="width:10%">
                      <col style="width:5%">
                      <col style="width:5%">
                      <col style="width:5%">
                      <col style="width:5%">
                      <col style="width:5%">
                      <col style="width:35%">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Tên sinh viên</th>
                          <th>Mã sinh viên</th>
                          <th>Giới tính</th>  
                          <th>Địa chỉ</th>  
                          <th>Email</th>  
                          <th>Số điện thoại</th>
                          <th>Ngày sinh</th>
                          <th>Sửa / xoá</th>
                        </tr>
                      </thead>
                      <tbody id="main">
                      </tbody>
                    </table>
                    <div id="btn-add"></div>
                  </div>
                  <h2 id="error"></h2>
              </div>
              <div class="form-msg" id="addSV">
                <div class="input-container ic2">
                  <input id="ten-sv" class="input" type="text" name="ten-sv" placeholder=" " />
                  <div class="cut"></div>
                  <label for="ten-sv" class="placeholder">Tên sinh viên</label>
                </div>
                <div class="input-radio">
                  <div class="man">
                    <input type="radio" id="gender-sv-nam" name="gender" value="Nam">
                    <label for="gender">Nam</label>
                  </div>
                  <div class="women">
                    <input type="radio" id="gender-sv-nu" name="gender" value="Nữ">
                    <label for="gender">Nữ</label>  
                  </div>
                </div>
                <div class="input-container ic2">
                  <input id="dc-sv" class="input" type="text" name="dc-sv" placeholder=" " />
                  <div class="cut"></div>
                  <label for="dc-sv" class="placeholder">Địa chỉ</label>
                </div>
                <div class="input-container ic2">
                  <input id="email-sv" class="input" type="text" name="email-sv" placeholder=" " />
                  <div class="cut"></div>
                  <label for="email-sv" class="placeholder">Email</label>
                </div>
                <div class="input-container ic2">
                  <input id="sdt-sv" class="input" type="number" name="sdt-sv" placeholder=" " />
                  <div class="cut"></div>
                  <label for="sdt-sv" class="placeholder">Số điện thoại</label>
                </div>
                <div class="input-container ic2">
                  <input id="dob-sv" class="input" type="text" name="dob-sv" placeholder=" " />
                  <div class="cut"></div>
                  <label for="dob-sv" class="placeholder">Ngày sinh(dd/mm/yyyy)</label>
                </div>
                <div class="input-container ic2">
                  <input id="msv-sv" class="input" type="text" name="msv-sv" placeholder=" " />
                  <div class="cut"></div>
                  <label for="msv-sv" class="placeholder">Mã sinh viên</label>
                </div>
                <button  class="submit" onclick="addStudent()">Thêm</button>
                <button onclick="showFormAdd()" class="submit">Huỷ</button>
            </div>
            <div class="form-msg" id="editSV">
              <div class="input-container ic2">
                <input id="edit-ten-sv" class="input" type="text" name="edit-ten-sv" placeholder=" " />
                <div class="cut"></div>
                <label for="edit-ten-sv" class="placeholder">Tên sinh viên</label>
              </div>
              <div class="input-radio">
                <div class="man">
                  <input type="radio" name="edit-gender" value="Nam">
                  <label for="edit-gender">Nam</label>
                </div>
                <div class="women">
                  <input type="radio"  name="edit-gender" value="Nữ">
                  <label for="edit-gender">Nữ</label>  
                </div>
              </div>
              <div class="input-container ic2">
                <input id="edit-dc-sv" class="input" type="text" name="edit-dc-sv" placeholder=" " />
                <div class="cut"></div>
                <label for="edit-dc-sv" class="placeholder">Địa chỉ</label>
              </div>
              <div class="input-container ic2">
                <input id="edit-email-sv" class="input" type="text" name="edit-email-sv" placeholder=" " />
                <div class="cut"></div>
                <label for="edit-email-sv" class="placeholder">Email</label>
              </div>
              <div class="input-container ic2">
                <input id="edit-sdt-sv" class="input" type="number" name="edit-sdt-sv" placeholder=" " />
                <div class="cut"></div>
                <label for="edit-sdt-sv" class="placeholder">Số điện thoại</label>
              </div>
              <div class="input-container ic2">
                <input id="edit-dob-sv" class="input" type="text" name="edit-dob-sv" placeholder=" " />
                <div class="cut"></div>
                <label for="edit-dob-sv" class="placeholder">Ngày sinh (dd/mm/yyyy)</label>
              </div>
              <div class="input-container ic2">
                <input id="edit-msv-sv" class="input" type="text" name="edit-msv-sv" placeholder=" " />
                <div class="cut"></div>
                <label for="edit-msv-sv" class="placeholder">Mã sinh viên</label>
              </div>
              <button  class="submit" onclick="editInfoStudent()">Sửa</button>
              <button onclick="showFormEdit()" class="submit">Huỷ</button>
          </div>`
            getDSSV();
        }
        else {
          document.getElementById("root").innerHTML = `
          <div class="nav-bar">
              <h3>Oops!!! Something wrong...</h3>
            </div>`
        }
      })();
        const editInfoStudent = () => {
            const paths = localStorage.getItem("endpoint").split("*");
            const ID = localStorage.getItem("editID");
            const APIUrl = `http://localhost:8080/api/v1/admin/nam-hocs/${paths[0]}/ky-hocs/${paths[1]}/nien-khoas/${paths[2]}/nganh/${paths[3]}/mon-hocs/${paths[4]}/lhps/${paths[5]}/sinh-viens`;
            const data = {
              "nguoiDung": {
                "name":document.querySelector('#edit-ten-sv').value,
                "gioiTinh": document.querySelector('input[name="edit-gender"]:checked').value,
                "diaChi":document.querySelector('#edit-dc-sv').value,
                "email":document.querySelector('#edit-email-sv').value,
                "so_dien_thoai":document.querySelector('#edit-sdt-sv').value,
                "ngaySinh":document.querySelector('#edit-dob-sv').value.split("/").reverse().join("-"),
              },
              "maSinhVien": document.querySelector(`#edit-msv-sv`).value,
              "nienKhoaNganh": {
                "id": 4,
                "nganh": {
                    "id": 4,
                    "ten": paths[3]
                },
                "nienKhoa": {
                    "id": 1,
                    "ten": paths[2]
                }
              }
            }
            fetch(APIUrl+'/'+ID, {
                method: 'PUT',
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then((res) => res.json())
              .then((res) => window.location.reload())
              .catch((error) => console.error('Error: ', error));
        }

        const addStudent = () => {
          const paths = localStorage.getItem("endpoint").split("*");
              const url = `http://localhost:8080/api/v1/admin/nam-hocs/${paths[0]}/ky-hocs/${paths[1]}/nien-khoas/${paths[2]}/nganh/${paths[3]}/mon-hocs/${paths[4]}/lhps/${paths[5]}/sinh-viens`
          const data = {
              "nguoiDung":{
                "name":document.querySelector("#ten-sv").value,
                "gioiTinh": document.querySelector('input[name="gender"]:checked').value,
                "diaChi":document.querySelector("#dc-sv").value,
                "email":document.querySelector("#email-sv").value,
                "so_dien_thoai":document.querySelector("#sdt-sv").value,
                "ngaySinh":document.querySelector("#dob-sv").value.split("/").reverse().join("-"),
              },
              "maSinhVien": document.querySelector("#msv-sv").value,
              "nienKhoaNganh": {
                  "id": 4,
                  "nganh": {
                      "id": 1,
                      "ten": paths[3].split("-").join(" "),
                  },
                  "nienKhoa": {
                      "id": 1,
                      "ten": paths[2],
                  }
                }
              }
              fetch(url, {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                  'Content-Type': 'application/json',
                },
                }).then((res) => res.json())
                  .then((res) => window.location.reload())
                  .catch((error) => console.error('Error: ', error));
          }
        const deleteStudent = (id) => {
            const paths = localStorage.getItem("endpoint").split("*");
            const APIUrl = `http://localhost:8080/api/v1/admin/nam-hocs/${paths[0]}/ky-hocs/${paths[1]}/nien-khoas/${paths[2]}/nganh/${paths[3]}/mon-hocs/${paths[4]}/lhps/${paths[5]}/sinh-viens`;
            fetch(APIUrl + "/" + id, {
                method: 'DELETE'
            }).then(() => {
                window.location.reload();
            }).catch(err => {
                console.error(err)
            });
        }
        function showForm(index) {
          var x = document.getElementById(`delete-${index}`);
          x.classList.toggle("show");
        }
        function showFormAdd() {
          var x = document.getElementById("addSV");
          x.classList.toggle("show");
        }
        function showFormEdit(index) {
          localStorage.setItem("editID", index);
          var x = document.getElementById("editSV");
          x.classList.toggle("show");
        }
    </script>
  </body>
</html>
