<!DOCTYPE html>
<html>
  <head>
    <title>Quản lý đào tạo PTIT</title>
    <link rel='stylesheet' href='../asset/css/index.css' />
    <link rel='stylesheet' href='../asset/css/style.css' />
    <link rel="stylesheet" href="../asset/css/dashboard.css" />
    <link rel="stylesheet" href="../asset/css/form.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <script src="../js/api/admin.js"></script>
    <div class="main"></div>
    <div class="container">
      <div class="nav-bar">
        <h3 class="title"><a href="/views">Quản lý đào tạo sinh viên</a></h3>
        <ul class="list">
            <li class="item">Xin chào Nguyễn Quang Huy (ADMIN)</li>
            <li>|</li>
            <li class="item">Đăng xuất</li>
        </ul>
      </div>
      <div class="content">
        <h4 id="func-name">Danh sách sinh viên:</h4>
        <div class="managerTable">
            <table width=100%">
              <col style="width:5%">
              <col style="width:22%">
              <col style="width:10%">
              <col style="width:5%">
              <col style="width:5%">
              <col style="width:10%">
              <col style="width:10%">
              <col style="width:35%">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Tên sinh viên</th>
                  <th>Mã sinh viên</th>
                  <th>Giới tính</th>  
                  <th>Số điện thoại</th>  
                  <th>Email</th>
                  <th>Địa chỉ</th>
                  <th>Sửa/Xoá</th>
                </tr>
              </thead>
              <tbody id="main">
              </tbody>
            </table>
            <button class="add" onclick="addStudent()">Thêm sinh viên mới</button>
          </div>
      </div>
    </div>
    <script>
        getDSSV();
        const addStudent = () => {
            const paths = localStorage.getItem("endpoint").split("*");
            const APIUrl = `http://localhost:8080/api/v1/admin/nam-hocs/${paths[5]}/ky-hocs/${paths[4]}/nien-khoas/${paths[3]}/nganh/${paths[2]}/mon-hocs/${paths[1]}/lhps/${paths[0]}/sinh-viens`;
            const data = {
                "nguoiDung":{
                    "name":"dang minh tuan",
                    "gioiTinh":"nam",
                    "diaChi":"haiphong",
                    "email":"mihntuan2985@gmail.com",
                    "soDienThoai":"0327894689",
                    "ngaySinh":"2001-07-02"  
                },
                "maSinhVien": "b19dccn429",
                "nienKhoaNganh": {
                    "id": 4,
                    "nganh": {
                        "id": 1,
                        "ten": "cong nghe thong tin"
                    },
                    "nienKhoa": {
                        "id": 1,
                        "ten": "d19"
                    }
                }
            }

            fetch(APIUrl, {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(res => res.json())
                .then(response => console.log('Success:', JSON.stringify(response)))
                .catch(error => console.error('Error: ', error));
        }

        const editInfoStudent = (btn) => {

        }

        const deleteStudent = (id) => {
            const paths = localStorage.getItem("endpoint").split("*");
            const APIUrl = `http://localhost:8080/api/v1/admin/nam-hocs/${paths[5]}/ky-hocs/${paths[4]}/nien-khoas/${paths[3]}/nganh/${paths[2]}/mon-hocs/${paths[1]}/lhps/${paths[0]}/sinh-viens`;
            fetch(APIUrl + "/" + id, {
                method: 'DELETE'
            }).then(() => {
                window.location.reload();
            }).catch(err => {
                console.error(err)
            });
        }
        function showForm(index) {
            var x = document.getElementById(`delete-${index}`);
            x.classList.toggle("show");
        }
    </script>
  </body>
</html>
