<!DOCTYPE html>
<html>
  <head>
    <title>Quản lý đào tạo PTIT</title>
    <link rel='stylesheet' href='../asset/css/index.css' />
    <link rel='stylesheet' href='../asset/css/style.css' />
    <link rel='stylesheet' href='../asset/css/form.css' />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <script src="../js/api/admin.js"></script>
    <div class="main"></div>
    <div class="container">
      <div class="nav-bar">
        <h3 class="title"><a href="/views/admin.html">Quản lý đào tạo sinh viên</a></h3>
        <ul class="list">
            <li class="item">Xin chào Nguyễn Quang Huy (Admin)</li>
            <li>|</li>
            <li class="item">Đăng xuất</li>
        </ul>
      </div>
      <div class="content">
        <h1 id="func-name">Chức năng đang trong quá trình phát triển</h1>
      </div>
    </div>
  </body>
</html>
