<!DOCTYPE html>
<html>
  <head>
    <title>Quản lý đào tạo PTIT</title>
    <link rel='stylesheet' href='../asset/css/index.css' />
    <link rel='stylesheet' href='../asset/css/style.css' />
    <link rel='stylesheet' href='../asset/css/form.css' />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/api/admin.js"></script>
  </head>
  <body>
    <script>
      function showForm() {
        var x = document.getElementById("snackbar");
        x.classList.toggle("show");
      }
      function showError() {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'You must be member or admin to create and see the messages!'
        })
      }
    </script>
    <div class="main"></div>
    <div class="container">
      <div class="nav-bar">
        <h3 class="title">Quản lý đào tạo sinh viên</h3>
        <ul class="list">
            <li class="item">Xin chào Nguyễn Quang Huy (ADMIN)</li>
            <li>|</li>
            <li class="item">Đăng xuất</li>
        </ul>
      </div>
      <div class="content" id="main">
            
      </div>
    </div>
  </body>
</html>
