<!DOCTYPE html>
<html>
  <head>
    <title>Quản lý đào tạo PTIT</title>
    <link rel='stylesheet' href='../asset/css/index.css' />
    <link rel='stylesheet' href='../asset/css/style.css' />
    <link rel='stylesheet' href='../asset/css/form.css' />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <script src="../js/api/admin.js"></script>
    <script src="../js/main.js"></script>
    <div class="main"></div>
    <div id="root" class="container">
      <div class="nav-bar">
        <h3 class="title"><a href="/views">Quản lý đào tạo sinh viên</a></h3>
        <ul class="list">
            <li class="item">Xin chào Nguyễn Quang Huy (ADMIN)</li>
            <li>|</li>
            <li class="item">Đăng xuất</li>
        </ul>
      </div>
      <div class="content">
        <h3 id="func-name">Chọn ngành học</h3>
        <ul id="main"></ul>
        <h2 id="error"></h2>
      </div>
    </div>
    <script>
      (() => {
        const user = localStorage.getItem("userInfor");
        if (user) {
          const name = JSON.parse(user).nguoiDung.name.toLowerCase().replace(/(^|\s)\S/g, l => l.toUpperCase())
            document.getElementById('root').innerHTML = `<div class="nav-bar">
              <h3 class="title"><a href="/views/admin.html">Quản lý đào tạo sinh viên</a></h3>
              <ul class="list">
                  <li class="item">Xin chào ${name}</li>
                  <li>|</li>
                  <li class="item"><button onClick="logout()">Đăng xuất</button></li>
              </ul>
            </div>
            <div class="content">
              <h3 id="func-name">Chọn ngành học</h3>
              <ul id="main"></ul>
              <h2 id="error"></h2>
            </div>`
            getNganhHoc();
        }
        else {
          document.getElementById("root").innerHTML = `
          <div class="nav-bar">
              <h3>Oops!!! Something wrong...</h3>
            </div>`
        }
      })();
    </script>
  </body>
</html>
