<!DOCTYPE html>
<html>
  <head>
    <title>Quản lý đào tạo PTIT</title>
    <link rel='stylesheet' href='../../asset/css/index.css' />
    <link rel='stylesheet' href='../../asset/css/style.css' />
    <link rel='stylesheet' href='../../asset/css/form.css' />
    <link rel='stylesheet' href='../../asset/css/dashboard.css' />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <script src="../../js/api/student.js"></script>
    <script src="../../js/main.js"></script>
    <div class="main"></div>
    <div id="root" class="container">
    </div>
    <script>
      (() => {
        const user = localStorage.getItem("userInfor");
        if (user) {
          const name = JSON.parse(user).nguoiDung.name.toLowerCase().replace(/(^|\s)\S/g, l => l.toUpperCase())
            document.getElementById('root').innerHTML = `<div class="nav-bar">
              <h3 class="title"><a href="/views/sinhvien.html">Quản lý đào tạo sinh viên</a></h3>
              <ul class="list">
                  <li class="item">Xin chào ${name}}</li>
                  <li>|</li>
                  <li class="item">Đăng xuất</li>
              </ul>
            </div>
            <div class="content">
              <h3 id="func-name">Chọn môn học</h3>
              <div class="managerTable">
                  <table width=100%">
                    <col style="width:5%">
                    <col style="width:40%">
                    <col style="width:10%">
                    <col style="width:10%">
                    <col style="width:15%">
                    <col style="width:15%">
                    <col style="width:20%">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Tên môn học</th>
                        <th>Chuyên cần</th>
                        <th>Thực hành</th>
                        <th>Kiểm tra</th>
                        <th>Bài tập</th>  
                        <th>Cuối kỳ</th>  
                      </tr>
                    </thead>
                    <tbody id="main">
                    </tbody>
                  </table>
              </div>
              <h2 id="error"></h2>
            </div>`
            getMonHoc();
        }
        else {
          document.getElementById("root").innerHTML = `
            <div class="nav-bar">
              <h3>Oops!!! Something wrong...</h3>
            </div>`
        }
      })();
      
    </script>
  </body>
</html>
